<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Redirect all traffic to the public folder
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ /public/index.php [L]

    # Block Access to .env file
    <Files .env>
        Order allow,deny
        Deny from all
    </Files>

    # Block access to hidden files and directories (starting with .)
    RewriteRule ^(\.git|\.env|\.htaccess|\.htpasswd) - [F,L,NC]

    # Block access to sensitive directories
    RewriteRule ^(storage|app|bootstrap|config|database|resources|tests)/.* - [F,L,NC]

    # Disallow directory listing
    Options -Indexes

    # Prevent access to backup files
    <FilesMatch "\.(bak|config|sql|fla|psd|ini|log|sh|swp|dist|git|hg|phar)$">
        Order allow,deny
        Deny from all
    </FilesMatch>
</IfModule>